*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0%;
}
.topbar{
    background-color: #FDF0EA;
    display: inline-flex;
    width: 100%;
}
ul{
    list-style-type: none;
    display: inline-flex;
    margin-top: 20px;
}
li{
margin-right: 20px;
}
a{
    text-decoration: none;
    color: #000;
    font-size: small;
}
button{
    background-color: #f28555;
    border-radius: 10px;
    border-style: none;
    margin: 10px 0px;
    color:#fff;
    padding: 10px;
}
.logo{
    margin-left: 10px;
    padding: 7px;
    width: 90px;
    height: 20px;
    margin: 10px;
}

.firstpart{
    display: inline-flex;
    margin-left: 110px;
    margin-top: 70px;
}
.mainimg{
    width: 390px;
    height: 390px;
}
.main{
    margin-right: 60px;
}
.mainh1{
    font-size: 45px;
}
.secondsection{
    margin: 20px 50px;
}
.secondpart{
    display: inline-flex;
    margin-left: 70px;
}
h2{
    margin-bottom: 50px;
    margin-left: 70px;
}
.ticket{
    margin-right: 30px;
}
footer{
    background-color: #FDF0EA;
    margin-bottom: 0%;
    padding: 3% 9%;

}