body{
    margin: 0%;
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
   
}

.main{
    font-size: larger;
    position: relative;
    left: 200px;
    top:50px;
}

button{
    padding: 9px;
    background-color: rgb(242, 133, 85);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
}
.secondpart{
   
    position: relative;
    bottom: 260px;
    left: 200px;
}

nav ul li{
    display: inline-block;
    margin: 20px;
    padding: 5px;
}
.logo{
    width: 120px;
    margin: 10px;
    position: relative;
    top: 13px;
}

nav{
    display: inline-block;
    padding: 10px;
}
.mainimg{
    width : 40%;
    display: flex;
    margin-left: 400px;
    padding: 20px;
    position: relative;
    bottom: 320px;
}
.mainh1{
    font-size: 40px;
   
}
.mainp{
    font-size: 12px;
    
}

.topbar{
    background-color: rgb(253, 240, 234);
    font-size: small;
}
footer{
    background-color: rgb(253, 240, 234);
    position: relative;
    right: 200px;
}
footer p{
    margin-left: 150px;
}
.topbar a{
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none; /* remove underline from Links*/
}